.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  cursor: crosshair;
}

/* Header Styles */
.header {
  transform: translateY(-50%);
}

/* Footer Styles */
.footer {
  transform: translateY(-50%);
}

/* Text Styles */
h1::after {
  content: " Three JS";
  font-size: 12px;
  position: absolute;
  top: 3px;
  padding-left: 5px;
  font-weight: 400;
}

/* Selection Disable */
.disableSelection {
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

/* Button Styles */
.btn {
  border-radius: 100px;
  padding: 10px 25px;
}

/* Description Text */
.description {
  color: #808080;
  padding-top: 50px;
}