@import "tailwindcss" ;
@plugin"daisyui";

@theme{
    --breakpoint-*: initial;
    --breakpoint-sm: 496px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --color-violet1: #CCCCFF;
    --color-violet2: #292966;
    --color-blue: #3b82f6;
    --color-green: #22c55e;
    --color-yellow: #fbbf24;
    --color-red: #ef4444;
    --color-pink: #ec4899;
    --color-sky: #0ea5e9;
    --color-gray: #6b7280;
    --color-gray-100: #f3f4f6;
}